@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Comfortaa);

body {
  font-family: 'Comfortaa', cursive;
  background:#404040;
  margin: 0;
  color:white;
}

h1, p {
  margin: 0;
}
#top {
  background-color:#ffe6e6;
  color:black;
  text-align: center;
  padding: 10px 20px;
  margin-bottom: 10px;
  font-size: medium;
}
#top h1{
  font-size: 80px;
  margin-bottom:5px;
}
#top p{
  font-size: 20px;
}

img {
  display: block;
  margin: 15px auto;
  border-radius: 25px 0 25px 0;
  box-shadow: 0 0 50px rgb(0, 162, 255);
  width:"100%";
}

footer {
  margin-bottom: 0px !important;
  margin-top: 20px;
  font-style: italic;
}
footer hr{
  margin: 0;
}
footer p{
  margin: 5px 0px;
  text-align: center;
}
footer a{
  color:#4da6ff;
} 
span.icon {
  margin: 0 5px;
  color: #D64541;
}



